!!!
%html{ :lang => 'de', :'xml:lang' => 'de', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title Die Nerdtanke
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta{ :content => 'de', 'http-equiv' => 'Content-Language' }
    %link{ :type => 'application/rss+xml', :href => 'http://feeds.feedburner.com/DieNerdtanke', :rel => 'alternate', :title => 'Die Nerdtanke als RSS-Feed' }
    %link{ :type => 'image/x-icon', :rel => 'icon', :href => 'favicon.ico' }
    %link{ :type => 'image/x-icon', :rel => 'shortcut icon', :href => 'favicon.ico' }
    = stylesheets :media => 'screen'
    = javascripts 'jquery-1.6.1.min'
    :javascript
      $('.play_link').live('click', function() {
        var self = $(this);
        var audioTag = self.attr('data-audio')
        self.parent('.player').append(audioTag).find('audio').get(0).play();
        self.removeAttr('data-audio').hide();
        return false;
      });
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-441965-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #page
      #header
        %h1 Die Nerdtanke
        %h4 Bytes und Bier – Einmal vollmachen
        = img 'die-nerdtanke-75x75.png', :alt => ''
      #content
        = yield
      #footer
        - unless @no_footer
          Kontakt:
          = link 'tankwart@nerdtanke.de', 'mailto:tankwart@nerdtanke.de'
          .imprint
            = link 'Impressum', 'imprint.html', :rel => 'nofollow'
