Ab #{topic.timestamp}:
= h(topic.label)

- if topic.url
  (#{link_to h(topic.link_label), topic.url, :target => '_blank'})

- if topic.links.any?
  %ul
    - topic.links.each do |item|
      %li
        = link_to h(item.label), item.url, :target => '_blank'
        - if item.help
          (#{item.help})
