<% Podcast.all(data).each do |podcast| %>
  <item>
    <title><%= podcast.short_title %></title>
    <itunes:author>Die Nerdtanke</itunes:author>
    <itunes:subtitle></itunes:subtitle>
    <itunes:summary><%= podcast.summary %></itunes:summary>
    <itunes:image href="http://nerdtanke.de/images/die-nerdtanke.png" />
    <enclosure url="<%= podcast.url %>" length="<%= podcast.filesize %>" type="audio/mpeg" />
    <guid><%= podcast.url %></guid>
    <pubDate><%= podcast.pub_date %></pubDate>
    <itunes:duration><%= podcast.duration %></itunes:duration>
    <itunes:keywords></itunes:keywords>
  </item>
<% end %>

